<!DOCTYPE html>
<html lang="en">
<head>
	<title>Register</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <h1>Best</h1>
  <h1>Buddy</h1>
  <div>
		<%- include('messages') %>
    <form id="registerBox" action="/users/register" method="post">
      <label>Name</label><br>
      <input type="text"
             name="name"
             value= '<%= typeof name != 'undefined'? name:'' %>'>
           </input><br>
      <label>Email</label><br>
      <input type="email"
             name="email"
             value= '<%= typeof email != 'undefined'? email:'' %>'>
           </input><br>
      <label>Password</label><br>
      <input type="password"
             name="password1"
             value= '<%= typeof password1 != 'undefined'? password1:'' %>'>
           </input><br>
      <label>Confirm Password</label><br>
      <input type="password"
             name="password2"
             value= '<%= typeof password2 != 'undefined'? password2:'' %>'>
           </input><br>
      <input type="submit" value="Register"></input>
    </form>
		<span>Have an account already? =></span>
		<a href="/users/login" class="btn btn-secondary btn-block m-2 p-1">Login</a>
  </div>
</body>
</html>
